.grid {
    display: grid;
    grid-column-gap: 25px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 355px 50px 1fr 1fr 1fr;
    background-color: #FFF7FF;
    
    grid-template-areas: 
        "header header header"
        "navigationBar navigationBar navigationBar"
        "descriptionAA descriptionAA sidePic"
        "descriptionAA descriptionAA sidePic"
        "bottomPic1 bottomPic2 bottomPic3";
}

.header {
    grid-area: header;
    background-image: url(img/watercolor%20background-min.JPG);
    background-size: cover;
    background-blend-mode: darken;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
}

.nameHeader {
    position: relative; left:420px; top:15px;
    color: #2F4F4F;
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-size: 110px;
 
}

.navigationBar {
    grid-area: navigationBar;
    background-color: #b57ae6;
    border:2px solid #a655c1;
}

.navBar {
    list-style: none;
    float: center;  
}

.navBar li {
    display: inline-block;
}

.navBar li a {
    padding: 9px 101px;
    font-family: "Lucida Console", Courier, monospace;
    color: whitesmoke;
    text-decoration: underline;
}

.navBar li.active a {
    border: 2px solid white;
}

.navBar li a:hover {
    border: 0.25px solid white;
}

.descriptionAA {
    grid-area: descriptionAA;
}

.h1 {
    position: relative;left: 20px; top: 10px;
    padding-top: 25px;
    padding-bottom: 0px;
    padding-left: 30px;
    font-size: 30x;
    text-decoration: underline;
    font-family: 'Lato', sans-serif;
    color:#2F4F4F;  
}

#Sonic {
    border-radius: 40px;
}

.sidePic {
    grid-area: sidePic;
}

.bottomPic1 {
    grid-area: bottomPic1;
}

.bottomPic2 {
    grid-area: bottomPic2;
}

.bottomPic3 {
    grid-area: bottomPic3;
}

.merida {
    border-radius: 40px;
}

.paintShoe {
    border-radius: 40px;
    position: relative; left: 15px;
}

.aframe {
    border-radius: 40px;
    position: relative; left: 30px;
}

.para {
    font-family: 'Lato', sans-serif;
    color:#2F4F4F;
    font-size: 20px;
    position: relative; left: 10px;
    padding-left: 40px
}