.grid {
    display: grid;
    grid-column-gap: 25px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 355px 50px 1fr 360px 600px;
    background-color: #FFF7FF;
    
    grid-template-areas: 
        "header header header"
        "navigationBar navigationBar navigationBar"
        "SCPC SCPC boardPic"
        "SCPC SCPC boardPic"
        "CoffeeHouse CoffeeHouse Artlanta ";
}

.header {
    grid-area: header;
    background-image: url(img/watercolor%20background-min.JPG);
    background-size: cover;
    height: 355px;
    background-blend-mode: darken;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
}

.nameHeader {
    position: relative; left:420px; top:15px;
    color: #2F4F4F;
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-size: 110px;
 
}

.navigationBar {
    grid-area: navigationBar;
    background-color: #b57ae6;
    border:2px solid #a655c1;
}

.navBar {
    list-style: none;
    float: center;  
}

.navBar li {
    display: inline-block;
}

.navBar li a {
    padding: 9px 101px;
    font-family: "Lucida Console", Courier, monospace;
    color: whitesmoke;
    text-decoration: underline;
}

.navBar li.active a {
    border: 2px solid white;
}

.navBar li a:hover {
    border: 0.25px solid white;
}

.h1 {
    position: relative; left: 20px; top: 10px;
    padding-top: 25px;
    padding-left: 20px;
    font-size: 30px;
    text-decoration: underline;
    font-family: 'Lato', sans-serif;
    color:#2F4F4F;  
}

.SCPC {
    grid-area: SCPC;
    padding-left: 25px;
}

.boardPic {
    grid-area: boardPic;
}

#board {
    border-radius: 40px;
}

.Artlanta {
    grid-area: Artlanta;
}

.CoffeeHouse {
    grid-area: CoffeeHouse;
}

.artlanta {
    border-radius: 40px;
    position: relative; left: 40px;
}

.coffee {
    border-radius: 40px;
    position: relative; left: 10px;
}

.para {
    font-family: 'Lato', sans-serif;
    color:#2F4F4F;
    padding-left: 30px;
    padding-right: 25px;
    font-size: 20px;
    position: relative; left: 10px;
}